<p id="notice"><%= notice %></p>

<h1>Lectures</h1>

<table>
  <thead>
    <tr>
      
      <th>Content</th>
      <th>Course Name </th>
      <th>Created BY </th>
      <th>Lecture Download</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lectures.each do |lecture| %>
      <tr>
     
        <td><%= lecture.content %></td>
        <td><%= Course.find(lecture.course_id).title %></td>
        <td><%= User.find(lecture.user_id).name %></td>
        <td><%= link_to "Download ", lecture.file_url %></td>
        <td><%= link_to 'Show', lecture %></td>
        <td><%= link_to 'Edit', edit_lecture_path(lecture) %></td>
        <td><%= link_to 'Destroy', lecture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lecture', new_lecture_path %>
