<p id="notice"><%= notice %></p>

<h1 align="center">Lectures</h1>

<br>
<% if can? :create,Lecture %>
<%= link_to 'New Lecture', new_lecture_path , class: 'btn btn-success btn-xs '%>
<% end %>

<br>

<table class="table">
  <thead>
    <tr>
      
      <th>Content</th>
      <th>Course Name </th>
      <th>Created BY </th>
      <th>Lecture Download</th>
      <th>Action</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lectures.each do |lecture| %>
      <tr>
     
        <td><%= lecture.content.html_safe %></td>
        <td><%= Course.find(lecture.course_id).title %></td>
        <td><%= User.find(lecture.user_id).name %></td>
        <td><%= link_to "Download ", lecture.file_url %></td>
        <td><%= link_to 'Show', lecture ,class: 'btn btn-primary btn-xs' %></td>
       
        <% if can? :edit,Lecture %>
           <td><%= link_to 'Edit', edit_lecture_path(lecture), class: 'btn btn-info btn-xs'%></td>
        <% end %>

        <% if can? :destroy, Lecture %>
          <td><%= link_to 'destroy', lecture, method: :delete, data: { confirm: 'Are you sure?' } ,class: 'btn btn-danger btn-xs'%></td>
        <% end %>

        <td><%= button_to   like_lecture_path(lecture), method: :put do %>
         Like
          <%= lecture.get_upvotes.size %>
          <% end %>
        </td>

        <td> <%= button_to dislike_lecture_path(lecture), method: :put do %>
          Dislike
          <%= lecture.get_downvotes.size %>
          <% end %>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>



