<p id="notice"><%= notice %></p>

<h5>Info about lecture</h6>
<p>
  <strong>Content:</strong>
  <%= @lecture.content.html_safe %>
</p>
<p>
<strong>CreatedBy</strong>
<%= User.find(@lecture.user_id).name%>
</p>

<p>
<strong>CourseName</strong>
<%= Course.find(@lecture.course_id).title%>
</p>

<hr>
<%= commontator_thread(@lecture) %>
<br>
<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
